body{

font-family: Arial;
text-align: center;
background:#f4f4f4;

}

h1{

color:#333;

}

#cronometro{

font-size:40px;
color:#2d89ef;
margin:20px;

}

button{

padding:8px 14px;
margin:5px;
background:#2d89ef;
color:white;
border:none;
cursor:pointer;

}

button:hover{

background:#1b5fa7;

}

input{

padding:8px;

}

table{

margin:auto;
border-collapse:collapse;
width:70%;

}

th,td{

border:1px solid black;
padding:10px;

}

th{

background:#ddd;

}